<form class="{% if form_style == "menu" %}form-inline my-2 my-lg-0{% endif %}" action="{{site.url}}">
    {% if form_style == "menu" %}
        <div class="field has-addons">
            <div class="control">
                <input class="input" type="search" placeholder="Search" aria-label="Search" value="" name="s">
            </div>
            <div class="control">
                <button type="submit" class="button is-info">
                    Search
                </button>
            </div>
        </div>
    {% else %}
        <div class="input-group mb-3">
            <div class="field">
                <div class="control">
                    <input class="input" type="search" placeholder="Search" aria-label="Search" value="" name="s">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="button">Button</button>
                </div>
            </div>
        </div>
    {% endif %}
</form>