{% extends 'layouts/base.twig' %}
{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="title is-1">{{ title }}</h1>
                {% include 'partials/search.twig' %}
            </div>
        </div>
    </div>
{% endblock %}