{% extends 'layouts/base.twig' %}
{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="title is-1">{{ title ?? post.title }}</h1>
                {{ content ?? post.content }}
            </div>
        </div>
    </div>
{% endblock %}