{% extends 'layouts/base.twig' %}
{% block content %}
    {% if function('has_blocks') %}
        {{ post.content }}
    {% else %}
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="content">
                        <h1>{{ title }}</h1>
                        {{ post.content }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
