<div class="is-3 column">
    {% include 'builder/Columns/column.content.twig' with {column: row["Column 1"] } %}
</div>
<div class="is-6 column">
    {% include 'builder/Columns/column.content.twig' with {column: row["Column 2"] } %}
</div>
<div class="is-3 column">
    {% include 'builder/Columns/column.content.twig' with {column: row["Column 3"] } %}
</div>