<div class="has-background-danger has-text-white has-text-centered">
    A twig template hasn't been created for the {{ item.acf_fc_layout }} block yet.
    <div class="has-background-white">{{ dump(item) }}</div>
</div>